.movies-container {
  @include flex-center();
  flex-direction: column;

    .movies {
      @include flex();
      justify-content: space-evenly;
      margin: 1vh 5.5vh;

      li {
        @include flex();
        flex-direction: column;
        justify-content: space-between;
        margin: 0.5em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-align: center;

        img{
          width: 220px;
          height: 300px;
          transition: all 0.3s;
          opacity: 85%;
          margin-bottom: 1vh;
        }

        img:hover {
          transform: scale(1.05);
          opacity: 100%;
        }

        p {
          width: 220px;
        }
      }
    }
}
