.password-box {
  @include flex-center();
  border: 2px solid $primary-color;
  border-radius: 15px;
  transition: all 1s;

  input,
  input:hover,
  input:active,
  input:focus {
    border: none;
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }

  svg {
    cursor: pointer;
    opacity: 40%;
    margin: 0 .5em 0 0;
  }

  svg:hover {
    opacity: 60%;
  }
}

.password-box:active,
.password-box:hover {
  border-color: $hover-color;
}