@font-face {
  font-family: 'BebasNeue';
  src: url(../font/Raleway-Bold.ttf);
}

$fonts: 'BebasNeue', Helvetica, sans-serif;
$background-color: #000;
$primary-color: #6428cc;
$text-color:#fff;
$hover-color:#0ebeac;
$spacing: 1.5rem;
$dark-grey: #998;
